{% extends "plantilla.twig" %}

{% block estiloarchivo %}
<link href="css/estilo-anadir-editar.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block principal %}
<head>
    <title>Añadir Científico</title>
</head>
<body>
    <main>
    <h2>Añadir Científico</h2>
    <form action="anadircientifico" method="POST" enctype="multipart/form-data">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
        <br>
        <label for="lugar">Lugar:</label>
        <input type="text" id="lugar" name="lugar" required>
        <br>
        <label for="biografia">Biografía:</label>
        <textarea id="biografia" name="biografia" required></textarea>
        <br>
        <label for="web">Sitio Web:</label>
        <input type="text" id="web" name="web" required>
        <br>
        <label for="facebook">Facebook:</label>
        <input type="text" id="facebook" name="facebook" required>
        <br>
        <label for="twitter">Twitter:</label>
        <input type="text" id="twitter" name="twitter" required>
        <br>
        <label for="fecha_muerte">Fecha de Muerte:</label>
        <input type="date" id="fecha_muerte" name="fecha_muerte" required>
        <br>
        <label for="foto_portada">Foto de Portada:</label>
        <input type="file" id="foto_portada" name="foto_portada" required>
        <br>
        <label for="descripcionPortada">Descripción foto portada:</label>
        <input type="text" id="descripcionPortada" name="descripcionPortada" required>
        <br>
        Añade máximo dos fotos extra
        <br>
        <label for="fotoextra1">Foto Extra 1:</label>
        <input type="file" id="fotoextra1" name="fotoextra1">
        <br>
        <label for="descripcion_foto_extra_1">Descripción foto extra 1:</label>
        <input type="text" id="descripcion_foto_extra_1" name="descripcion_foto_extra_1">
        <br>
        <label for="fotoextra2">Foto Extra 2:</label>
        <input type="file" id="fotoextra2" name="fotoextra2">
        <br>
        <label for="descripcion_foto_extra_2">Descripción foto extra 2:</label>
        <input type="text" id="descripcion_foto_extra_2" name="descripcion_foto_extra_2">
        <br>
        <br>
        Si añades nuevos hashtags, perderas los anteriores
        <br>
        <br>
        <label for="hashtags">Hashtags:</label>
        <input type="text" id="hashtags" name="hashtags" required>
        <br>
        <label for="publicado">Publicado:</label>
        <input type="checkbox" id="publicado" name="publicado">
        <br>

        <input type="submit" value="Agregar">
    </form>

    {% if errores %}
        <h3>Errores:</h3>
        <ul>
            {% for error in errores %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    </main>

</body>
{% endblock %}

{% block botones %}   
     <div class="boton">
         <a href="../editarusuario.php?usuario={{ usuario.ID }}" class="subrayado">Mi cuenta</a>
    </div>
{% endblock %}
